<div>
    <div class="form-group">
        <label>{{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.label'}}</label>
        <div class="form-fields">
            <select name="flags.enhancedcombathud-dnd5e.showPrepared">
            <option value="preparedOnly" {{#if (eq flags.enhancedcombathud-dnd5e.showPrepared "preparedOnly")}}selected{{/if}}>
                {{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.preparedOnly'}}
            </option>
            <option value="auto" {{#if (eq flags.enhancedcombathud-dnd5e.showPrepared "auto")}}selected{{/if}}>
                {{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.auto'}}
            </option>
            <option value="all" {{#if (eq flags.enhancedcombathud-dnd5e.showPrepared "all")}}selected{{/if}}>
                {{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.all'}}
            </option>
            </select>
        </div>
    </div>
</div>
